html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #141414;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --color-term-background: #000;
    --color-term-user: #60f268;
    --color-term-path: #6073f5;
    --color-term-main: #f8f8f6;
    --color-input-bar: #d92db2;
}

.main-container {
    width: 640px;
    height: 480px;
    padding: 12px;
    background-color: var(--color-term-background);

    font-family: monospace;
    font-size: 14px;
    color: var(--color-term-main);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.touch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-term-background);
    padding: 12px;

    cursor: pointer;

    /* Hidden unless enabled by the media query below that triggers only on touch screens. */
    display: none;
}

.touch-overlay pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

@media (hover: none) and (pointer: coarse) {
    .touch-overlay {
        display: block;
    }
}

.color-user {
    color: var(--color-term-user);
}

.color-path {
    color: var(--color-term-path);
}

.input-box {
    background-color: black;
    color: var(--color-term-main);
    position: relative;

    display: inline;
    margin: 0;
}

.input-box::after {
    content: " ";
    color: var(--color-input-bar);
    background-color: var(--color-input-bar);

    position: absolute;
    display: inline-block;
    width: 8px;
    height: 1.1em;
    margin-left: 2px;
    top: 1px;

    animation: cursor-blink 1s steps(1) infinite;
}

@keyframes cursor-blink {
    0%,
    49% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}
